html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}

.container {
  display: flex;
  width: 100%;
}

/*HEADER STYLES*/
header {
  display: block;
}

#nav {
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem 2rem;
}

#nav img {
  height: 6rem;
}

.logo {
  display: flex;
  align-items: center;
}

nav li {
  display: inline;
  list-style: none;
  margin-right: 2rem;
  color: #399;
  font-weight: bold;
}

nav li:hover {
	color: #066;
}

nav.mobile {
  display: none;
}


/*BODY STYLES*/

.office {
	width: 75%;
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
	
}
.office img {
	height: 6rem;
}

#cfd {
	background-color: #399;
}

#occ {
	background-color: #005daa;
}

#orcd {
	background-color: #C60;
}

#owc {
	background-color: #91278f;
}

/*FOOTER STYLES*/
footer {
  padding: 1rem;
  background-color: #9dd9d3;
  color: #ffffff;
}

footer img {
	height: 5rem;
	margin-top: 1rem;
}

footer .container {
	justify-content: space-between;
}

@media only screen and (max-width: 960px) {
  header {
    height: 22rem;
    padding-top: 0;
  }
}

@media only screen and (max-width: 700px) {
  header {
    height: 17rem;
    background-position: 20%;
  }

  header nav.default {
    display: none;
  }

  header nav.mobile {
    display: block;
  }
}
