html {
  font-family: Helvetica;
  font-size: 18px;
  color: #505050;
  line-height: 1.4;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  width: 98%;
  margin: 0 auto;
}

/*HEADER STYLES*/
header {
  display: block;
}

#nav {
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgba(255,255,255,0.70);
  padding: 1rem;
	position: fixed;
  height: 4rem;
	z-index: 10;
	top: 0;
}

#nav img {
  height: 4rem;
}

.logo {
  display: flex;
  align-items: center;
}

.all {
  display: inline-block;
  float: left;
  margin-right: 1.25rem;
  margin-top: 1rem;
  height: auto;
  width: 120px;
  z-index: 20;
}

button {
  width: 120px;
  height: 40px;
  vertical-align: top;
  background-color: #399;
  border-radius: .25rem;
  color: #fff;
  font-size: .75rem;
}

.menu-show {
  padding-left: 0;
  width: 120px;
  text-align: center;
  display: inline-block;
  margin-top: 0;
}

.menu-hide {
  display: none;
}

.menu-show li  {
  height: auto;
  padding: 2px;
  font-size: .75rem;
  padding-top: .25rem;
  background-color: #FFF;
  border-top: .5px solid #DCDCDC;
}

.menu-show li:hover {
  color: #FFF;
  background-color: #399;
}

nav a {
  color: #399;
  text-decoration: none;
}

nav a:hover {
  color: #FFF;
  text-decoration: none;
}

nav.mobile {
  display: none;
  list-style: none;
}

#mobile {
  width: 100%;
  margin-top: 0;
  padding: 0;
  position: fixed;
  z-index: 30;
  background-color: rgba(51,153,153,0.7);
}

#mobile li {
  display: block;
  border: 1px solid black;
  height: 40px;
  text-align: center;
  padding-top: 1rem;
}

#mobile li:hover {
  background-color: #066;
}

#mobile a {
  color: #FFF;
  text-decoration: none;
}

#mobile a:hover {
  text-decoration: underline;
}

/*CAROUSEL STYLES*/
.banner {
	background-color: #DCDCDC;
  margin-top: 6rem;
}

.carousel {
	width: 100%;
	margin: 0 auto;
}

.frame {
	width: 100%;
	margin: 0 auto;
}

.office {
	width: 100%;
}

.office img {
	height: 30rem;
	margin: 1rem auto;
}


/*WHATS NEW STYLES*/
.center {
	justify-content: center;
}

h2 {
	color: #505050;
	font-size: 1.75rem;
}

h3 {
	color: #505050;
	text-transform: uppercase;
	font-size: 1rem;
}

.box {
	background-color: #DCDCDC;
  width: 50%;
	height: auto;
	margin: 1rem;
	text-align: center;
}

.cfd {
	background-color: rgba(51,153,153,.4);
}
.occ {
	background-color: rgba(0,93,170,.4);
}
.orcd {
	background-color: rgba(204,102,0,.4);
}
.gsd {
	background-color: rgba(236,193,38,.4);
}
.pdd {
	background-color: rgba(92,102,112,.4);
}
.owc {
	background-color: rgba(145,39,143,.4);
}

.center ul {
	padding-left: 0;
}

.center li {
	list-style: none;
	margin: 1rem 2rem;
	padding: 1rem;
}

#mission p {
	margin: 1rem;
  max-width: 75%;
	font-size: 1.25rem;
}

#mailing {
	display: block;
	background-color: #399;
  text-align: center;
	color: white;
  width: 20rem;
	padding: 1rem;
	border-radius: 1.5rem;
}

#mailing:hover {
  background-color: #066;
}

/*FOOTER STYLES*/
footer {
  padding: 1rem;
  background-color: #9dd9d3;
}

footer img {
	height: 5rem;
  width: auto;
	margin-top: 1rem;
}

footer .container {
	justify-content: space-between;
}

@media only screen and (max-width: 1100px) {
  header nav.default {
    display: none;
  }
  header nav.mobile {
    display: block;
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 960px) {
  .office img {
  	height: 20rem;
  }
  .center {
    flex-wrap: wrap;
  }
  .box {
    min-width: 90%;
  }
  footer .container {
  	justify-content: center;
    flex-wrap: wrap;
  }
}


@media only screen and (max-width: 550px) {
  .office img {
    height: 15rem;
  }
  #mission p {
  	font-size: 1rem;
    margin: 1rem;
    max-width: 100%;
  }
  #mailing {
    font-size: 1rem;
    width: 100%;
    border-radius: 0;
  }
  footer p {
    font-size: .75rem;
  }
  footer img {
    height: 3.5rem;
    width: auto;
  }
}
